header {
  position: sticky;
  top: 0;
  height: 100px;
  background-color: #FFFFFF;
  box-shadow: 0 6px 12px #00000029;
  z-index: 9;
}

.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: auto;
}

.items ul li {
  list-style: none;
  margin-left: 15px;
}

@media (min-width: 992px) {
  header {
    height: 100px;
  }

  .logo {
    height: 100px;
  }
  .logo img {
    height: 80px;
  }

  .items ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .header-menu-button {
    display: none !important;
  }
}
@media (max-width: 991px) {
  header {
    height: 60px;
  }

  .logo, .logo a {
    height: 45px;
  }
  .logo img {
    height: 45px;
  }
  .items {
    height: 60px;
  }
  .items ul {
    display: none;
  }
}

.responsive-header-links:active {
  color: inherit;
}
        
.responsive-navbar-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-size: 400;
  font-style: normal;
  color: #333333;
  width: 100%;
  line-height: 40px;
  padding: 0px 10px;
}

.responsive-menu-close {
  padding: 5px;
  margin-top: 10px;
}