

.banner {
  display: flex;
  background-color: #FFF;
  border-radius: 3px;
  box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.2);
}

.banner :global(.swiper) {
  position: relative;
  height: 100%;
}

.banner .image {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.banner .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.banner .content h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  margin: 0 0 20px;
}

.banner .content p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #FFFFFF;
  margin: 0 0 15px;
}

.banner .content .link {
  width: 150px;
  height: 50px;
}

.banner .content a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 1s ease-in-out;
}

.banner .content svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.banner .content a:hover {
  transition: 1s ease-in-out;
  background: #FFFFFF;
}

.banner .content a:hover svg {
  stroke-dashoffset: -480;
}

.banner .content a span {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #FFFFFF;
  transition: 1s ease-in-out;
}

.banner .content a:hover span {
  color: #333333;
}



.swiper-button-prev::after, .swiper-button-next::after {
  color: #777777 !important;
}

@media (min-width: 991px) {
  .banner {
    height: 650px;
  }
  .banner .card {
    align-items: center;
  }
  .banner .content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 150px;
    width: 45%;
    margin: auto;
  }
  .banner .image {
    width: 130%;
  }
  .banner .content {
    padding: 40px 20px;
  }
}

@media (max-width: 991px) and (min-width: 769px) {
  .banner {
    height: 450px;
  }
  .banner .card {
    flex-direction: column;
    height: auto;
  }
  .banner .content {
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 0;
    width: 45%;
    height: fit-content;
    padding: 15px;
    margin: auto;
  }
  .banner .image {
    display: flex;
    width: 130%;
  }
}

@media (max-width: 768px) {
  .banner {
    height: 350px;
  }
  .banner .card {
    flex-direction: column;
    height: auto;
  }
  .banner .content {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
    width: 80%;
    height: fit-content;
    padding: 20px;
    margin: auto;
  }
  .banner .image {
    display: flex;
    width: 130%;
  }

  .banner .content h2 {
    font-size: 22px;
  }
  
  .banner .content p {
    font-size: 14px;
  }

  .banner .swiper-button-prev, .banner .swiper-button-next {
    top: 25% !important;
  }
  .banner .swiper-button-prev::after, .banner .swiper-button-next::after {
    font-size: 30px !important;
  }
}