.about {
  padding: 60px 0px;
}

.about .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about .text h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  text-align: left;
  color: #333333;
  margin: 0 0 20px;
}

.about .text p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  color: #333333;
}

.about .img img {
  width: 100%;
  height: auto;
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.45));
  border-radius: 6px;
}

.about .content button {
  background-color: #EEEEEE;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 8px 20px;
  margin: 10px 0px;
}

.about .content button a {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
}

@media (min-width: 769px) {
  .about .text {
    width: 55%;
    padding-right: 60px;
  }

  .about .img {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .about .content {
    flex-wrap: wrap;
  }

  .about .text {
    width: 100%;
  }

  .about .img {
    width: 100%;
  }

  .about .img {
    margin-top: 20px;
  }
}