header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 6px 12px #00000029;
  z-index: 99;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: auto;
}

.topItems {
  height: 30px;
  background-color: #DDD;
}

.contact {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 30px;
}

.contact a {
  display: flex;
  margin-right: 5px;
}

.contact > i {
  margin-left: 15px;
}

.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.items nav {
  display: flex;
  align-items: center;
}

.items ul li {
  list-style: none;
  margin-left: 15px;
}

.flags a img {
  width: 25px;
  height: auto;
  margin-left: 15px;
}

@media (min-width: 992px) {
  header {
    height: 130px;
  }

  .logo {
    height: 100px;
  }
  .logo img {
    height: 80px;
  }

  .items nav > ul {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
  }

  :global(.nav-item), .desktopNavbarLink {
    display: flex;
    align-items: center;
    height: 60px;
  }

  :global(.nav-item):hover .desktopNavbarLinkBorder::after {
    width: 100%;
  }

  :global(.nav-item) {
    position: relative;
    padding: 10px 0px;
  }
  
  :global(.nav-item):hover :global(.second-level-navbar) {
    opacity: 1;
    transform: initial;
    visibility: visible;
  }
  :global(.nav-item):hover :global(.second-level-navbar)::before {
    width: 100%;
  }

  .buttonResponsiveNavbar {
    display: none !important;
  }
}
@media (max-width: 991px) {
  header {
    height: 60px;
  }

  .logo, .logo a {
    height: 45px;
  }
  .logo img {
    height: 45px;
  }
  .items {
    height: 60px;
  }
  .items ul li {
    display: none;
  }
  .flags {
    margin-right: 20px;
  }
  .listResponsiveNavbar li {
    display: block;
  }
}

.responsiveHeaderLinks:active {
  color: inherit;
}

.listResponsiveNavbar {
  padding-left: 10px;
}
        
.desktopNavbarLink {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #333333;
  margin: 0px 5px;
  padding: 10px 0px;
}

.desktopNavbarLinkBorder::after {
  content: "";
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #555555;
  transition: all .25s;
}

.responsiveNavbarLink {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #333333;
  width: 100%;
  line-height: 25px;
  padding: 5px;
}

.responsiveMenuClose {
  padding: 5px 5px 5px 10px;
  margin-top: 10px;
}