.services {
  background-color: #EEEEEE;
  padding: 60px 0px;
}

.topContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: auto;
}

.topContent h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  margin: 0px 0px 15px;
}

.topContent p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #333333;
}

.posts :global(.swiper) {
  padding: 25px;
}

.bottomContent {
  display: flex;
  justify-content: center;
}

@media (max-width: 499px) and (min-width: 400px) {
  .posts :global(.swiper) {
    max-width: 80%;
  }
}
@media (max-width: 399px) {
  .posts :global(.swiper) {
    max-width: 90%;
  }
}

.buttons {
  margin: 10%;
  text-align: center;
}

.bottomContent a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  min-width: 150px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #333;
  cursor: pointer;
  margin: 15px;
  height: 40px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  /* moz-transition: all .3s ease-in-out; */
  -o-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.bottomContent a:hover {
  background-position: 100% 0;
  /* moz-transition: all .4s ease-in-out; */
  -o-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.bottomContent a:focus {
  outline: none;
}

.bottomContent a {
  background-image: linear-gradient(to right, #FFFFFF, #FEFEFE, #EEEEEE, #EEEEEE);
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.2);
}