.altPartners {
  background-color: #EEEEEE;
  padding: 60px 0px;
}

.leftContent {
  display: flex;
  justify-content: center;
}

.leftContent h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  color: #333333;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  margin: 0px 0px 15px;
}

.leftContent {
  max-width: 600px;
  margin: auto;
}

.leftContent p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #333333;
}

@media (min-width: 901px) {
  .leftContent {
    align-items: flex-start;
  }
  .leftContent h2 {
    text-align: left;
  }
  .leftContent p {
    text-align: left;
  }
  .posts {
    justify-content: flex-start;
  }
}
@media (max-width: 900px) {
  .leftContent {
    align-items: center;
  }
  .leftContent h2 {
    text-align: center;
  }
  .leftContent p {
    text-align: center;
  }
  .posts {
    justify-content: center;
  }
}

.posts {
  display: flex;
  flex-wrap: wrap;
}

.leftContent a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  min-width: 150px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #333;
  cursor: pointer;
  margin: 0;
  height: 40px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  /* moz-transition: all .3s ease-in-out; */
  -o-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.leftContent a:hover {
  background-position: 100% 0;
  /* moz-transition: all .4s ease-in-out; */
  -o-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.leftContent a:focus {
  outline: none;
}

.leftContent a {
  background-image: linear-gradient(to right, #FFFFFF, #FEFEFE, #EEEEEE, #EEEEEE);
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.2);
}