:global(.posts) .post {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: auto;
  background-color: #FFFFFF;
  border-radius: 3px;
  margin: 15px;
  transition: all .25s;
}

.post img {
  width: 100%;
  height: 225px;
  object-fit: cover;
  object-position: center;
  transition: all .6s;
  box-shadow: 0px 15px 15px -15px #111;
}

/* .post img:nth-child(1) {
  position: absolute;
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.post:hover img:nth-child(1){
  opacity: 0;
  transform: matrix(1.05, 0, 0, 1.05, 0, 0);
}

.post img:nth-child(2) {
  opacity: 0;
  transform: matrix(1.05, 0, 0, 1.05, 0, 0);
}
.post:hover img:nth-child(2) {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
} */

.content {
  position: relative;
  width: 90%;
  margin-top: -15px;
  background-color: #FFFFFF;
  z-index: 9;
  transition: all .8s;
}

:global(.posts) .post:hover .content {
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.2);
}

.post p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  color: #333333;
  margin: 30px 20px;
}

.firstImage {
  position: absolute;
  display: block;
  overflow: hidden;
  transition: all .6s;
}

.secondImage {
  display: block;
  overflow: hidden;
  transition: all .6s;
}


.post .firstImage img {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.post:hover .firstImage img {
  opacity: 0;
  transform: matrix(1.10, 0, 0, 1.10, 0, 0);
}

.post .secondImage img {
  opacity: 0;
  transform: matrix(1.10, 0, 0, 1.10, 0, 0);
}
.post:hover .secondImage img {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
}