@media (min-width: 992px) {
  .page {
    padding: 75px 0px;
  }
}
@media (max-width: 991px) {
  .page {
    padding: 30px 0px;
  }
}

.page {
  display: grid;
}

.page .back-btn {
  background-color: #DDDDDD;
  padding: 5px 30px;
}
.page .back-btn:hover {
  background-color: #DCDCDC;
}

@media (min-width: 576px) {
  .inner-title--desktop {
    text-align: left;
  }
  .inner-title--responsive {
    display: none;
  }
  .inner-img {
    float: right;
    width: 40%;
    height: auto;
    margin: 0px 0px 20px 20px;
  }
}
@media (max-width: 575px) {
  .inner-title--desktop {
    display: none;
  }
  .inner-title--responsive {
    text-align: center;
  }
  .inner-img {
    float: right;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
}