/* Body */
body.overflow-hidden {
  overflow: hidden;
}

.animateLeft {
  opacity: initial;
  transform: initial;
  animation: animateLeft .6s backwards .25s;
}

@keyframes animateLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
}


/* Pages */
.page {
  display: flex;
  flex-direction: column;
  min-height: 75vh;
}

@media (min-width: 992px) {
  .page {
    padding: 150px 0px 30px;
  }
}
@media (max-width: 991px) {
  .page {
    padding: 75px 0px 30px;
  }
}

.page .back-btn {
  font-family: 'Montserrat', sans-serif;
  min-width: 150px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #333;
  cursor: pointer;
  height: 40px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  /* moz-transition: all .3s ease-in-out; */
  -o-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-image: linear-gradient(to right, #FFFFFF, #FEFEFE, #EEEEEE, #EEEEEE);
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.2);
  margin: 30px 0px 0px;
}

.page .back-btn:hover {
  background-position: 100% 0;
  /* moz-transition: all .4s ease-in-out; */
  -o-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.page .pagination-btn {
  font-family: 'Montserrat', sans-serif;
  min-width: 150px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #333;
  cursor: pointer;
  height: 40px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  /* moz-transition: all .3s ease-in-out; */
  -o-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-image: linear-gradient(to right, #EEEEEE, #EFEFEF, #FFFFFF, #FFFFFF);
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.2);
  margin: 30px 0px 0px;
}

.page .pagination-btn:hover {
  background-position: 100% 0;
  /* moz-transition: all .4s ease-in-out; */
  -o-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.center-items {
  text-align: center;
}
.page .back-btn:hover {
  background-color: #DCDCDC;
}

@media (min-width: 576px) {
  .inner-title--desktop {
    text-align: left;
  }
  .inner-title--responsive {
    display: none;
  }
  .inner-img {
    float: right;
    width: 40%;
    height: auto;
    filter: drop-shadow(0 4px 4px rgba(0,0,0,.25));
    border-radius: 3px;
    margin: 0px 0px 30px 30px;
  }
}
@media (max-width: 575px) {
  .inner-title--desktop {
    display: none;
  }
  .inner-title--responsive {
    text-align: center;
  }
  .inner-img {
    float: right;
    width: 100%;
    height: auto;
    filter: drop-shadow(0 4px 4px rgba(0,0,0,.25));;
    border-radius: 3px;
    margin-bottom: 20px;
  }
}

.inner-title--single {
  text-align: center;
}

.inner-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #333333;
}

.skiptranslate {
  display: none;
}
#google_translate_element {
  display: none;
}
.goog-te-banner-frame {
  display: none !important;
}
.VIpgJd-ZVi9od-aZ2wEe-wOHMyf {
  display: none;
}
body {
  top: 0 !important;
}