/* Body */
body.overflow-hidden {
  overflow: hidden;
}

.animateLeft {
  opacity: initial;
  transform: initial;
  animation: animateLeft .6s backwards .25s;
}

@keyframes animateLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
}


/* Pages */
.page {
  display: grid;
  min-height: 100vh;
  /* opacity: 0;
  transform: translateX(-20px);
  transition: all 1s; */
}

/* .page-show {
  opacity: 1;
  transform: initial;
} */

@media (min-width: 992px) {
  .page {
    padding: 150px 0px;
  }
}
@media (max-width: 991px) {
  .page {
    padding: 75px 0px;
  }
}

.page .back-btn {
  background-color: #DDDDDD;
  padding: 5px 30px;
}
.page .back-btn:hover {
  background-color: #DCDCDC;
}

@media (min-width: 576px) {
  .inner-title--desktop {
    text-align: left;
  }
  .inner-title--responsive {
    display: none;
  }
  .inner-img {
    float: right;
    width: 40%;
    height: auto;
    filter: drop-shadow(0 4px 4px rgba(0,0,0,.25));
    border: 5px solid #FFFFFF;
    border-radius: 3px;
    margin: 0px 0px 20px 20px;
  }
}
@media (max-width: 575px) {
  .inner-title--desktop {
    display: none;
  }
  .inner-title--responsive {
    text-align: center;
  }
  .inner-img {
    float: right;
    width: 100%;
    height: auto;
    filter: drop-shadow(0 4px 4px rgba(0,0,0,.25));;
    border: 5px solid #FFFFFF;
    border-radius: 3px;
    margin-bottom: 20px;
  }
}

.inner-title--single {
  text-align: center;
}

.inner-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #333333;
}